# Virtual Environment
venv/
myenv/

# Python
__pycache__/
*.pyc

# Database
db.sqlite3

# Media Uploads
media/

# Environment Variables
.env

# Static Files
staticfiles/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db